/**
 This file registers the Maestro colors.
 */
:root {
  --maestro--brand--color: rgb( from #2271B1 r g b / 1 );
  --maestro--white: rgb( from #ffffff r g b / 1 );
  --maestro--black: rgb( from #000000 r g b / 1 );
  --maestro--black--20: rgb( from #000000 r g b / 0.2 );
}